In [70]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
# Set csv paths
trial_path = 'raw_data/clinicaltrial_data.csv'
drug_path = 'raw_data/mouse_drug_data.csv'

In [72]:
# Read trial csv
trial_df = pd.read_csv(trial_path)
trial_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [73]:
trial_df.count()

Mouse ID              1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [74]:
# Check duplicate mouse
mouse_id_index = trial_df.set_index(['Mouse ID'])
mouse_check = mouse_id_index.loc['g989',:]
mouse_check

          Timepoint  Tumor Volume (mm3)  Metastatic Sites
Mouse ID
g989              0           45.000000                 0
g989              0           45.000000                 0
g989              5           48.786801                 0
g989              5           47.570392                 0
g989             10           51.745156                 0
g989             10           49.880528                 0
g989             15           51.325852                 1
g989             15           53.442020                 0
g989             20           55.326122                 1
g989             20           54.657650                 1
g989             25           56.045564                 1
g989             30           59.082294                 1
g989             35           62.570880                 2

In [83]:
# Will decide to drop duplicate, keeping first
drug_df = drug_df.drop_duplicates(subset=['Mouse ID', 'Timepoint'], keep='first')
drug_df.count()

KeyError: 'Timepoint'

In [76]:
# Read drug csv
drug_df = pd.read_csv(drug_path)
drug_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [77]:
drug_df.count()

Mouse ID    250
Drug        250
dtype: int64

In [78]:
# Check duplicate mouse
drug_df[drug_df['Mouse ID'].duplicated(keep=False)]

    Mouse ID      Drug
7       g989  Stelasyn
173     g989  Propriva

In [79]:
# Will decide to drop duplicate, keeping first
drug_df = drug_df.drop_duplicates(subset='Mouse ID', keep='first')
drug_df.count()

Mouse ID    249
Drug        249
dtype: int64

In [80]:
# Try merging the two dfs
merged_trial_drug = pd.merge(trial_df, drug_df, on='Mouse ID')
merged_trial_drug.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

In [81]:
merged_trial_drug.count()

Mouse ID              1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
Drug                  1893
dtype: int64

In [82]:
# Check duplicate mouse
mouse_id_index = merged_trial_drug.set_index(['Mouse ID'])
mouse_check = mouse_id_index.loc['g989',:]
mouse_check

          Timepoint  Tumor Volume (mm3)  Metastatic Sites      Drug
Mouse ID
g989              0           45.000000                 0  Stelasyn
g989              0           45.000000                 0  Stelasyn
g989              5           48.786801                 0  Stelasyn
g989              5           47.570392                 0  Stelasyn
g989             10           51.745156                 0  Stelasyn
g989             10           49.880528                 0  Stelasyn
g989             15           51.325852                 1  Stelasyn
g989             15           53.442020                 0  Stelasyn
g989             20           55.326122                 1  Stelasyn
g989             20           54.657650                 1  Stelasyn
g989             25           56.045564                 1  Stelasyn
g989             30           59.082294                 1  Stelasyn
g989             35           62.570880                 2  Stelasyn