In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Set csv paths
trial_path = 'raw_data/clinicaltrial_data.csv'
drug_path = 'raw_data/mouse_drug_data.csv'

In [5]:
# Read trial csv
trial_df = pd.read_csv(trial_path)
trial_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [6]:
# Read drug csv
drug_df = pd.read_csv(drug_path)
drug_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn